main {
    height: 100%;
    min-height: 500px;
    overflow-x: hidden;
    .content {
        padding-top: 30px;
        .home_body {
            margin-top: -30px;
        }
    }
}
body{
    background: $primary;
    color: white;
} 

.card {
    background-color: #1e293b;
    border: 1px solid rgb(255, 255, 255);
    transform: scale(1);
    transition: transform .3s ease-in;
    &:hover {
        transform: scale(1.03);
    }
}

.card-text {
    font-size: 12px;
    line-height: 15px;
}

hr {
    background: white;
}

.read-more {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.social_links {
    text-align: center;
    a {
        padding: 10px;
        font-size: 20px;
        color: white;
        i {
            transition: transform .5s ease-in;
        }
        &:hover {
            i {
                transform : rotate(360deg);
            }
        }
    }
}

@include media-breakpoint-up(lg) { 
    .main {
        .content {
            padding-top: -30px;
            .home_body {
                margin-top: -90px;
            }
        }
    }
}