@import "src/styles/index";

.header_nav  {
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    display: flex;
    z-index: 2;
    background: rgba(0,0,0,.9);
    transition: all .9s ease-in;
    a {
        color: white;
        font-size: 30px;
        &:hover {
            color:white;
        }
        &.close_menu {
            position: absolute;
            top: 30px;
            right: 20px;
            @include media-breakpoint-up(lg) {
                top: 40px;
                right: 40px; 
            }
        }
    }
    .navbar-nav {
        a {
            position: relative;
            transition: all .4s ease-in;
            padding: 0;
            margin-bottom: 20px;
            &::after {
                content: '';
                position: absolute;
                width: 0;
                bottom: 0;
                left: 0;
                height: 1px;
                background: white;
                transition: all .3s ease-in;
            }
            &:hover {
                transform: scale(1.3);
                &::after {
                    width: 100%;
                }
            }
        }
    }
    &.show_menu {
        .fa-times {
            transition: all .3s ease-in;
            &:hover {
                transform: rotate(360deg);
            }
        }   
    }
    &.hide_menu {
        height: 0;  
        a {
            color: black;
        }
        .navbar-nav a{
            font-size: 0;
        }
   }
}