@import "src/styles/index";
.about{
    &_img {
        width: 100%;
        text-align: center;
        margin-bottom: 35px;
        margin-top: 35px;   
        img {
            height: 130px;
            width: 130px;
            border-radius: 50%;
            @include media-breakpoint-up(lg) {
                height: 200px;
                width: 200px;
            }
        }
    }

    &_contact {
        margin-left: 25px;
        margin-left: 25px;
        border-top: 1px solid white;
        padding-top: 20px;

        a {
            color: white;
            display: block;
            margin-bottom: 5px;
            font-size: 14px;
        }
    }
    &_page {
        .social_links {
            text-align: center;
            a {
                border-top: none !important;
            }
        }
    }
}